html,
body {
  padding: 0;
  margin: 0;
}

section {
  background-color: #dadbf1;
  padding: 80px 30px 115px;
  width: 1903px;
  height: 200px;
}

#text_input {
  position: absolute;
  left: 580px;
  width: 720px;
  height: 40px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 4px;
  border-style: solid;
  border-width: 1.25px;
  box-shadow: #000000 0px 9px 14px 0px;
  font-family: GT America Standard;
  font-size: 20px;
  line-height: 32px;
  padding: 16px;
}

#header {
  height: 88px;
  width: 1903px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  font-family: GT America Standard;
  font-size: 17px;
  font-weight: 700;
  line-height: 25.5px;
  padding: 0px 30px;
}

#header_txt1,
#header_txt2 {
  position: absolute;
  height: 29px;
  top: 3%;
  width: 140px;
  color: #ffffff;
  font-family: GT America Standard;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 23px;
  margin: 4px 0px 0px 12.8px;
  padding: 2px 0px 4px 12.8px;
}

#header_txt1 {
  left: 100px;
}

#header_txt2 {
  left: 200px;
}

main {
  height: 800px;
  width: 1226px;
  color: #191a1b;
  font-size: 20px;
  line-height: 30px;
}

#container {
  height: 100px;
  width: 1226px;
  color: #191a1b;
  font-size: 20px;
  line-height: 30px;
  padding: 0px 30px;
}

h4 {
  width: 600px;
  height: 28px;
  color: #191a1b;
  font-family: GT America Standard;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 48px 0px 16px;
}
/* 큰틀에 가지는 속성과 아래쪽이가지는 속성이 겹치면 큰틀꺼만 적용된다*/
#text-center {
  font-size: 80px;
  letter-spacing: -4px;
  line-height: 120px;
  margin: 0px 0px 16px;
  text-align: center;
}

#item1 {
  position: absolute;
  left: 15%;
  bottom: 20%;
}

#item2 {
  position: absolute;
  left: 50%;
  bottom: 20%;
}
#item3 {
  position: absolute;
  left: 15%;
  bottom: 0%;
}

#item4 {
  position: absolute;
  left: 50%;
  bottom: 0%;
}

#item5 {
  position: absolute;
  left: 15%;
  bottom: -20%;
}

#item6 {
  position: absolute;
  left: 50%;
  bottom: -20%;
}

#item_title1 {
  position: absolute;
  left: 15%;
  bottom: 20%;
}

#item_title2 {
  position: absolute;
  left: 50%;
  bottom: 20%;
}
#item_title3 {
  position: absolute;
  left: 15%;
  bottom: 0%;
}

#item_title4 {
  position: absolute;
  left: 50%;
  bottom: 0%;
}

#item_title5 {
  position: absolute;
  left: 15%;
  bottom: -20%;
}

#item_title6 {
  position: absolute;
  left: 50%;
  bottom: -20%;
}
